@charset "ISO-8859-1";

.register, .login{
	display: inline-block;
    vertical-align: top;
}

.login{
	margin-left: 200px;
}

.error{
	background-color: yellow;
	color: red;
	font-weight: bold;
}




